<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration>
<hibernate-configuration>
	<session-factory>
	
		<property name="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
        <property name="hibernate.connection.driver_class">
        	org.postgresql.Driver
        </property>
        <property name="hibernate.connection.url">
        	jdbc:postgresql://localhost:5432/Simpres2
        </property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">12345</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Sirve para mostrar en consola las sentencias -->
        <property name="show_sql">true</property>
        <!-- Sirve para generar automaticamente la estructura de la bd -->
        <property name="hbm2ddl.auto">update</property>
   
  	 <mapping class="py.edu.facitec.Simpres2.entidades.Cliente"></mapping>
        <mapping class="py.edu.facitec.Simpres2.entidades.Funcionario"></mapping>
         <mapping class="py.edu.facitec.Simpres2.entidades.Habitacion"></mapping>
          <mapping class="py.edu.facitec.Simpres2.entidades.Reserva_detalle"></mapping>
           <mapping class="py.edu.facitec.Simpres2.entidades.Reservas"></mapping>
             <mapping class="py.edu.facitec.Simpres2.entidades.Servicios"></mapping>
           
                      
               
        
        
       
	</session-factory>
</hibernate-configuration>
